
<div class="background-white">
    <div id="abilities" class="container">

        <h3>{% trans %}Certifications{% endtrans %}</h3>

        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive" style="display: block;margin: 0 auto;"
                     alt="AWS DevOps Engineer - Professional" src="/img/AWS.Cert.DevOps.Pro.png">
            </div>
            <div class="col-xs-3">
                <img class="img-responsive" style="display: block;margin: 0 auto;" alt="AWS Developer - Associate"
                     src="/img/AWS.Cert.Developer.Asso.png">
            </div>
            <div class="col-xs-3">
                <img class="img-responsive" style="display: block;margin: 0 auto;"
                     alt="AWS Solutions Architect - Associate" src="/img/AWS.Cert.Architect.Asso.png">
            </div>

            <!-- Image has baked in crypto to verify validity  -->
            <div class="col-xs-3">
                <img class="img-responsive" style="display: block;margin: 0 auto;"
                     alt="GitLab Certified Associate" src="/img/GitLabCertifiedAssociate-2021-04-27.png">
            </div>
        </div>

        <hr>

        <h3>{% trans %}Langues{% endtrans %}</h3>

        <div class="row">
            <div class="col-xs-6">
                <ul class="no-bullets">
                    <li>
                        <span class="ability-title">{% trans %}Français {% endtrans %}</span>
                        <span class="ability-score">
                            {% trans %}Langue maternelle{% endtrans %}
                        </span>
                    </li>
                    <li>
                        <span class="ability-title" style="width:50%">{% trans %}Anglais{% endtrans %}</span>
                        <span class="ability-score">
                            {% trans %}Capacité professionnelle{% endtrans %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
