{{ with .Site.GetPage "/clients" }}
<div id="clients" class="container"> 
    <div class="row">
 
         <h2>{{ .Title }}</h2>
         <div class="col-md-12">
 
            {{ range sort .Pages "Params.weight" }}

            <div class="media" style="margin-bottom: 3em;">
                <div class="media-left">
                    <div style="width: 100px;">
                    {{ with .Resources.ByType "image" }}
                    {{ range first 1 (sort . "Params.weight") }}
                    <a href="{{ .Params.client_link }}" target="_blank">
                        {{ $image := .Resize "100x webp" }}
                        <img  class="media-object" src="{{ $image.Permalink }}" alt ="{{ $image.Name }}" width="100">
                    </a>
                    {{ end }}
                    {{ end }}
                    </div>
                </div>
                <div class="media-body clearfix">
                    <h4 class="media-heading">
                        <a href="{{ .Params.client_link }}" target="_blank">{{ .Title }} <i class="far fa-external-link"></i></a>
                    </h4>

                    {{ .Content }}

                    <div>
                       {{ range .Params.tags }}
                           <span class="label label-primary">{{ . }}</span>
                       {{ end }}
                    </div>
                </div>
            </div>

            {{ end }}

         </div>
 
     </div>
 
 </div>
{{ end }}