{{ with .Site.GetPage "/projects" }}

<div id="projects" class="container">
    <h2>{{ i18n "proj_projects" . }}</h2>

    <div class="row">
        <div class="col-md-12" style="margin-bottom:0px;">

            {{ range sort .Pages "Params.weight" }}

            <div class="media" style="margin-bottom: 3em;">
                <div class="media-left">
                    <div style="width: 50px;"></div>
                </div>
                <div class="media-body clearfix">
                    <h4 class="media-heading">
                        <a href="{{ .Params.project_link }}" target="_blank">
                            {{ if .Params.is_github_link }} <i class="fab fa-github"></i> {{ end }}
                            {{ .Title }} <i class="far fa-external-link"></i></a>
                    </h4>

                    {{ .Content }}

                    <div>
                        {{ range .Params.tags }}
                            <span class="label label-primary">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
            </div>
    
            {{ end }}


            <!-- To see more section -->
            <div>
                <div class="text-center"><b>{{ i18n "proj_toseemore" . }}</b></div>

                <div class="container-fluid text-center">
                    <div class="col-md-4"><a href="https://github.com/ncareau" target="_blank"><h4><i
                                        class="fab fa-github"></i> Github</h4></a></div>
                    <div class="col-md-4"><a href="https://stackoverflow.com/users/1207809/nmc" target="_blank"><h4><i
                                        class="fab fa-stack-overflow"></i> Stackoverflow</h4></a></div>
                    <div class="col-md-4"><a href="https://www.mobygames.com/developer/sheet/view/developerId,423883/"
                                             target="_blank"><h4><i class="far fa-gamepad"></i> MobyGames</h4></a></div>
                </div>

            </div>


            <hr/>
        </div>
    </div>
</div>
{{ end }}
